html, body{
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
}

canvas{
    visibility: hidden;
    border: 2px solid #ddd;
    border-radius: 2px;
    height: 90%;
}